<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diane Peters Attorneys</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="125x125" href="/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="icon" type="image/jpg" sizes="150X150" href="/IMG.jpg">
  <link rel="manifest" href="/site.webmanifest">
</head>
<body>
  <header class="header">
    <div class="logo">
       <!-- Logo integration: D and P -->
       <a href="/"><img class="logo-icon"src="/android-chrome-192x192.png" alt=""></a>
       <p class="company-name" >Diane Peters Attorneys</p>
       <p class="tagline" >For the People</p>
     </div>
   </header>
  <!-- Update class style -->
  <main class="about-content">
    <div class="profile-card">
        <img class="logo-icon"src="/IMG.JPG" alt="">
        <h1>Diane Peters - LLB </h1>
        <h2>Attorney - (UNISA) </h2>
        <p id="profile"></p>
    </div>
  </main>
  

  <footer class="footer">
  <footer class="footer">
    <p>&copy; 2024 Diane Peters Attorneys | All Rights Reserved.</p>
    <p><a href="">terms of service</a> | <a href="">privacy policy</a></p>
         <h5>Developed & hosted by &copy:<a id="openButton" href="">techservit.co.za</a></h5>
  </footer>
</body>
<script src="/profile.js">
  
</script>

</html>
